<%= form_for(@photo_album) do |f| %>
  <% if @photo_album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo_album.errors.count, "error") %> prohibited this photo_album from being saved:</h2>

      <ul>
      <% @photo_album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
